In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import LabelEncoder

In [60]:
df=pd.read_csv('BrandEDA.csv')
df.head()

,Brand,Item ID,Ram(Gb),StoraGe(Gb),Price(Rs),Processor speed(GHz),Touch,Color,Weight,DisplAy size(Inch)
0,Apple,32,16,256.0,315000,2.2,No,Space grey,1.83,15.4
1,Apple,8,8,512.0,232000,3.2,No,Dark Black,1.29,13.3
2,Apple,32,16,1024.0,382000,2.3,No,Silver,2.00,16.0
3,Apple,26,8,NaN,195000,2.3,No,Space grey,1.37,13.3
4,Apple,32,4,128.0,92400,1.8,No,Silver,1.35,11.6

Check the number of rows and columns

In [61]:
df.shape

(30, 10)

Check the columns

In [62]:
df.columns

Index(['Brand', 'Item ID', 'Ram(Gb)', 'StoraGe(Gb)', 'Price(Rs)',
       'Processor speed(GHz)', ' Touch ', 'Color ', 'Weight',
       'DisplAy size(Inch)'],
      dtype='object')

analysing the brand based on the price
Challenges:
1)Find NaN data

In [63]:
df.isna().sum()

Brand                   0
Item ID                 0
Ram(Gb)                 1
StoraGe(Gb)             2
Price(Rs)               0
Processor speed(GHz)    0
 Touch                  0
Color                   0
Weight                  3
DisplAy size(Inch)      0
dtype: int64

Dropping the NaN's there are very few Nan's

In [64]:
#df.dropna()
df.head()

,Brand,Item ID,Ram(Gb),StoraGe(Gb),Price(Rs),Processor speed(GHz),Touch,Color,Weight,DisplAy size(Inch)
0,Apple,32,16,256.0,315000,2.2,No,Space grey,1.83,15.4
1,Apple,8,8,512.0,232000,3.2,No,Dark Black,1.29,13.3
2,Apple,32,16,1024.0,382000,2.3,No,Silver,2.00,16.0
3,Apple,26,8,NaN,195000,2.3,No,Space grey,1.37,13.3
4,Apple,32,4,128.0,92400,1.8,No,Silver,1.35,11.6

In [65]:
df.isna().sum()

Brand                   0
Item ID                 0
Ram(Gb)                 1
StoraGe(Gb)             2
Price(Rs)               0
Processor speed(GHz)    0
 Touch                  0
Color                   0
Weight                  3
DisplAy size(Inch)      0
dtype: int64

Filling the NaN's using LabelEncoder

In [66]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Ram(Gb)'] = le.fit_transform(df['Ram(Gb)'])
df['StoraGe(Gb)'] = le.fit_transform(df['StoraGe(Gb)'])
df['Weight'] = le.fit_transform(df['Weight'])

In [67]:
df['Ram(Gb)'].isna().sum()

0

In [68]:
df['StoraGe(Gb)'].isna().sum()

0

In [69]:
df['Weight'].isna().sum()

0

In [70]:
df.isna().sum()

Brand                   0
Item ID                 0
Ram(Gb)                 0
StoraGe(Gb)             0
Price(Rs)               0
Processor speed(GHz)    0
 Touch                  0
Color                   0
Weight                  0
DisplAy size(Inch)      0
dtype: int64

Few column names having space in the end hence removing the space

In [71]:
df.columns = df.columns.str.replace(' ', '')

Checking unique data of Touch to replace the categorical columns to numerical

In [72]:
df.Touch.unique()

array(['No', 'Yes'], dtype=object)

In [73]:
df.Touch=df.Touch.map({'No':0,'Yes':1})
df.Touch[:3]

0    0
1    0
2    0
Name: Touch, dtype: int64

In [74]:
df.Color.unique()

array(['Space grey', 'Dark Black', 'Silver', 'Rose Gold', 'Black',
       'White'], dtype=object)

In [75]:
X = df.iloc[:,1:]
y = df['Brand']

In [76]:
df.Color=df.Color.map({'Space grey':0, 'Dark Black':1, 'Silver':2, 'Rose Gold':3, 'Black':4,'White':5})
df.Color[:3]

0    0
1    1
2    2
Name: Color, dtype: int64

In [77]:
X.head()

,ItemID,Ram(Gb),StoraGe(Gb),Price(Rs),Processorspeed(GHz),Touch,Color,Weight,DisplAysize(Inch)
0,32,2,2,315000,2.2,0,Space grey,13,15.4
1,8,5,4,232000,3.2,0,Dark Black,6,13.3
2,32,2,6,382000,2.3,0,Silver,16,16.0
3,26,5,7,195000,2.3,0,Space grey,8,13.3
4,32,3,0,92400,1.8,0,Silver,7,11.6

In [78]:
y.head()

0    Apple
1    Apple
2    Apple
3    Apple
4    Apple
Name: Brand, dtype: object

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [80]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

ValueError: could not convert string to float: 'White'

In [ ]:
sfm = SelectFromModel(rf_model, threshold='median')
sfm.fit(X_train, y_train)

In [ ]:
selected_features = X_train.columns[sfm.get_support()]

# Display selected features
print("Selected Features:", selected_features)

In [ ]:
X_train_selected = sfm.transform(X_train)
X_test_selected = sfm.transform(X_test)

In [ ]:
X_train_selected

In [ ]:
rf_model.fit(X_train_selected, y_train)

In [ ]:


# Make predictions and evaluate the model
rf_model.predict(X_test_selected)

In [ ]:
from sklearn.feature_selection import SelectKBest,f_classif,chi2

In [ ]:
X.shape

In [ ]:
X_new=SelectKBest(chi2,k=6).fit_transform(X,y)

In [ ]:
X_new

In [ ]:
X_new.shape

In [ ]:
pd.DataFrame(X_new)

In [ ]:
feature_imp = SelectKBest(score_func=f_classif,k=6)

In [ ]:
feature_imp.fit(X,y)

In [ ]:
feature_imp.n_features_in_

In [ ]:
feature_imp.scores_

In [ ]:
df_imp=pd.DataFrame(feature_imp.scores_,columns=['scores'])

In [ ]:
df_imp

In [ ]:
df_score_features=pd.concat([df_imp,df_columns],axis=1)

In [ ]:
df_columns=pd.DataFrame(df.columns,columns=['features'])

In [ ]:
df_score_features

In [ ]:
df_score_features.nlargest(8,'scores')

In [ ]:
X.head(2)

In [ ]:
y.head(2)