In [ ]:
PANDAS
"SERIES"

Pandas are fast,powerful,flexible,open source data manipulation and data analysis tool developed on top of 
python programming language

3 categories
Series  ==1 DIM
Dataframe == 2DIM
Panel == multiple Df's

In [21]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.3'

Check the explaination of series

In [3]:
pd.Series?

Empty series(we have to give dtype as object)

In [4]:
pd.Series(dtype=object)

Series([], dtype: object)

int->float->complex->Str/object

Here the data is heterogeneous hence the dtype is object

In [5]:
a=pd.Series([10,20,30,"poornima"])
a

0          10
1          20
2          30
3    poornima
dtype: object

Here the float is there hence all the data converted to float

In [6]:
b=pd.Series([10,20,30.9])
b

0    10.0
1    20.0
2    30.9
dtype: float64

Here larger dtype is complex hence all the data converted to complex

In [7]:
c=pd.Series([10,20,30j])
c

0    10.0+0.0j
1    20.0+0.0j
2    0.0+30.0j
dtype: complex128

Check the datatype

In [8]:
c.dtype

dtype('complex128')

Check the number of data

In [10]:
c.size

3

In [12]:
len(c)

3

Count also provides the number of data but ignores Nan if the series has any Nan's

In [22]:
d=pd.Series([10,20,33,np.nan])
d

0    10.0
1    20.0
2    33.0
3     NaN
dtype: float64

In [23]:
d.count()

3

shape returns the row,col but series is 1 dim hence return only number of rows

In [24]:
d.shape

(4,)

Returns number of dimensions

In [25]:
d.ndim

1

Check the memory usage

In [26]:
d.memory_usage()

160

Fetch the values

In [28]:
d.values

array([10., 20., 33., nan])

Fetch the index

In [29]:
d.index

RangeIndex(start=0, stop=4, step=1)

Mathematical operations

In [30]:
e=pd.Series([120,1,9000,22,18])
e

0     120
1       1
2    9000
3      22
4      18
dtype: int64

Find the maximum values

In [31]:
e.max()

9000

In [32]:
e.min()

1

Cental Measures of Tendencies (Mean,Median,Mode)

Find the average

In [33]:
e.mean()

1832.2

Sort the values then returns the middle element
120
1
9000
22
18

first sort the values
1,18,22,120,9000

then return the middle value
22

if the total numbers are even 
sort->add two middle number/2

In [34]:
e.median()

22.0

Mode returns maximum repeated numbers(Ex: here 10 is most repeated number in the given series)

In [35]:
f=pd.Series([10,20,10,10,30,444])
f
f.mode()

0    10
dtype: int64

Assignment

1)Create series of [40,2,4,670,,7,90,1,20]
2)Check all the properties

Find occarance of each values

In [36]:
e.value_counts()

120     1
1       1
9000    1
22      1
18      1
dtype: int64

Find occarance of each values using numpy(the result will be in boolean)

In [37]:
e == 22

0    False
1    False
2    False
3     True
4    False
dtype: bool

convert boolean result into actual value

In [38]:
e[e == 22]

3    22
dtype: int64

check the count of the occurance

In [39]:
e[e == 22].size

1